<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心 - 用户管理系统</title>

    <link href="../../static/Users/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/Users/css/datepicker3.css" rel="stylesheet">
    <link href="../../static/Users/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="../../static/Users/js/html5shiv.js"></script>
    <script src="../../static/Users/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span> {{ None }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/public_api/logout/"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="/storehouse_manager/"><span class="glyphicon glyphicon-tree-deciduous"></span>数据仓库管理</a></li>
        <li><a href="/equipment_manager/add_one_equipment/"><span class="glyphicon glyphicon-tree-deciduous"></span>新增设备信息</a></li>
        <li><a href="/excel_manager/"><span class="glyphicon glyphicon-tree-deciduous"></span>Excel系统管理</a></li>
        <li><a href="/DB_backups/"><span class="glyphicon glyphicon-tree-deciduous"></span>数据仓库备份</a></li>
        <li role="presentation" class="divider"></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">仓库设备历史记录</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12" >
            <h1 class="page-header">仓库设备历史记录</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12" style="white-space: nowrap;width: auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="text" class="form-control" placeholder="全局搜索" id="search_content" oninput="return AjaxSend();">
                </div>
                <input id="equipment_id" value="{{ equipment_id }}" style="display: none">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="text-align: center">
                            <thead>
                            <tr>
                                <th style="text-align: center">序号</th>
                                <th style="text-align: center">设备编码</th>
                                <th style="text-align: center">仓库名称</th>
                                <th style="text-align: center">所属分组</th>
                                <th style="text-align: center">设备名称</th>
                                <th style="text-align: center">设备类型</th>
                                <th style="text-align: center">型号规格</th>
                                <th style="text-align: center">增加方式</th>
                                <th style="text-align: center">制造工厂</th>
                                <th style="text-align: center">出厂日期</th>
                                <th style="text-align: center">使用状态</th>
                                <th style="text-align: center">使用部门</th>
                                <th style="text-align: center">存放地点</th>
                                <th style="text-align: center">保管人员</th>
                                <th style="text-align: center">单价</th>
                                <th style="text-align: center">启用时间</th>
                                <th style="text-align: center">使用年限</th>
                                <th style="text-align: center">详细配置</th>
                                <th style="text-align: center">备注</th>
                                <th style="text-align: center">维修间隔月</th>
                                <th style="text-align: center">维修时间</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div><!--/.main-->
<script src="../../static/Users/js/jquery-1.11.1.min.js"></script>
<script src="../../static/Users/js/bootstrap.min.js"></script>
<script src=".../../static/Users/js/chart.min.js"></script>
<script src="../../static/Users/js/chart-data.js"></script>
<script src="../../static/Users/js/easypiechart.js"></script>
<script src="../../static/Users/js/easypiechart-data.js"></script>
<script src="../../static/Users/js/bootstrap-datepicker.js"></script>
<script>

    window.onload = function () {
        AjaxSend();
    }

    function AjaxSend() {
        var equipment_id = $('#equipment_id').val()
        var search_content = $('#search_content').val()
        if(equipment_id==''){
            alert("请刷新页面")
            return false
        }
        $.ajax({
            url: '/API/storehouse_manager/equipment_manager_details/',
            type: "GET",
            data: {
                'equipment_id':equipment_id,
                'search_content':search_content
            },
            // 设置超时的时间XXs
            timeout: 30000,
            success: function (recv) {
                //当服务端处理完成后，返回数据时，该函数自动调用
                // data代表服务器给我们返回的值
                // 可以使用 JavaScript进行html的内容修改展示内容，或者刷新界面
                console.log(recv)
                if (recv == "") {
                    $('#tbody').empty()
                }
                ;
                if (recv != "") {
                    $('#tbody').empty()
                    $('#tbody').append(recv)
                }
                ;
            },
            //调用出错执行的函数
            error: function () {
                //请求出错处理
                console.log("error");
            }
        })
    }

</script>
</body>

</html>
