<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="../../../static/bs4_packages/css/bootstrap.min.css">


    <link rel="stylesheet" href="../../../static/front_static/s_public/re_bs4_public.css">
    <link rel="stylesheet" href="../../../static/front_static/s_public/css_public.css">

    <title>学校概况</title>
</head>
<body>
<div class="bodyBgGradient"></div>
<div class="bodyBgImg"></div>


<div class="header" id="header" tips="页面头部——头部导航与头部图片">
    <div class="top">
        <div class="container-lg">
            <div>
                <span>您好，欢迎访问广西财经学院中外合作办学网站！</span>
            </div>
        </div>
        <div></div>
        <div class="clearFix"></div>
    </div>
    <div class="container-lg">
        <div class="logoBox">
            <img class="logo" src="../../../static/front_static/s_public/imgs_files/logo.png">
            <img class="slogan" src="../../../static/front_static/s_public/imgs_files/slogan.png">
        </div>
        <div class="clearFix"></div>
        <div class="logoBoxBottom"></div>
    </div>
</div>


<div class="bigBox container-lg" tips="页面主体——大盒子">
    <div class="margin_top_bottom"></div>

    <div id="nav_wall" tips="页面主体——导航栏部分">
        <nav class="nav nav-pills nav-fill" style="border-radius: 0px ;background-color: rgb(255, 255, 255);">
            <a class="nav-link" href="/">首页</a>
            <a class="nav-link active" href="/front/fr/show/">学校概况</a>
            <a class="nav-link" href="/front/fr/dynamic/">学院动态</a>
            <a class="nav-link" href="/front/fr/partners/">合作院校</a>
            <a class="nav-link" href="/front/fr/overseas/">留学生招生</a>
            <a class="nav-link" href="/front/fr/teacher/">教师留言</a>
            <a class="nav-link" href="/front/fr/student/">学生留言</a>
            <a class="nav-link" href="/front/fr/login/">后台登录</a>
        </nav>
    </div>
    <div class="margin_top_bottom"></div>

    <div class="bodyImgContent " tips="页面主体——轮播图框架">

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../static/front_static/s_public/imgs_files/nav_1.png" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="blcok_contentNav">First slide label</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../static/front_static/s_public/imgs_files/nav_2.png" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="blcok_contentNav">First slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../static/front_static/s_public/imgs_files/nav_3.png" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="blcok_contentNav">First slide label</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions"
                    data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions"
                    data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>

    </div>


    <div class="margin_top_bottom"></div>

    <div class="bodyFontContent" tips="页面主体——字体内容框架">


        <div class="card" style="border: none;">
            <div class="card-body" style="padding: 0px 0px;">
                <div class="logoBoxBottom"></div>
                <div class="row">
                    <div class="col-3" style="text-align: center;" tips="内容导航栏界面————列表导航">
                        <div style="background-color: #F4F4F4;height: 100%">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-one-list"
                                   data-toggle="list" href="#list-one" role="tab" aria-controls="home">学校介绍</a>
                                <a class="list-group-item list-group-item-action" id="list-two-list" data-toggle="list"
                                   href="#list-two" role="tab" aria-controls="profile">学院介绍</a>
                                <a class="list-group-item list-group-item-action" id="list-five-list" data-toggle="list"
                                   href="#list-five" role="tab" aria-controls="profile">合作办学</a>
                                <a class="list-group-item list-group-item-action" id="list-three-list"
                                   data-toggle="list"
                                   href="#list-three" role="tab" aria-controls="messages">图书馆藏</a>
                                <a class="list-group-item list-group-item-action" id="list-four-list" data-toggle="list"
                                   href="#list-four" role="tab" aria-controls="settings">联系我们</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-9" tips="内容导航栏————界面内容">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-one" role="tabpanel"
                                 aria-labelledby="list-one-list" tips="卡片内容————1">

                                <div class="card" style="border: none;">
                                    <div class="card-body">
                                        <div class="about" data-info="">
                                            <div style="font-weight: 700; color: #177EDB; font-size: 24px; text-align: center; padding: 20px 0; border-bottom: 1px dashed #CCC;"
                                                 data-info-title="">广西财经学院介绍
                                            </div>
                                            <div style="font-size: 14px; text-align: center; color: #B3B3B3; padding: 5px 0;">
                                                日期：<span data-info-date="YYYY-MM-DD">2022-01-01</span>，来源：<span
                                                    data-info-origin="">宣传部</span>，作者：<span
                                                    data-info-drafter="">宣传部</span>，编审：<span
                                                    data-info-auditor="">宣传部</span>，阅读量：<span data-info-readnumber="">10307</span>

                                            </div>
                                            <p style="overflow-wrap: break-word; margin-top: 0px; margin-bottom: 0px; font-size: 12.8px; white-space: normal; padding: 0px 0px 1em; color: rgb(51, 51, 51); font-family: SimSun; background: rgb(254, 254, 254); line-height: 2em; font-size: 20px; color: rgb(127, 127, 127);">
                                                   广西财经学院成立于2004年，由广西财政高等专科学校和广西商业高等专科学校合并组建而成，是广西壮族自治区人民政府重点建设的一所财经类普通本科高校。学校办学历史，可以追溯到1960年创办的广西商业专科学校（1962年9月更名为广西商业学校）和1963年成立的广西财经学校。1984年，在广西商业学校基础上组建广西商业专科学校；1985年，广西财政专科学校成立。1994年，广西商业专科学校更名为广西商业高等专科学校，广西财政专科学校更名为广西财政高等专科学校。2003年，广西财经学校并入广西财政高等专科学校，广西南宁商业技工学校（成立于1979年）并入广西商业高等专科学校；2004年广西财政高等专科学校和广西商业高等专科学校合并组建广西财经学院。<br/>
                                                   学校于2010年通过本科教学工作合格评估，2011年成为“服务国家特殊需求”会计专业硕士培养单位，2012年成为外交部和教育部授牌的“中国—东盟金融与财税人才培训中心”，2013年成为广西特色高校立项建设单位，2014年获广西高校首批“2011协同创新中心”认定，2016年获教育部应用型本科高校建设立项、“经济与管理实验教学示范中心”获批国家级实验教学示范中心，2017年成为教育部全国首批深化创新创业教育改革示范高校，2018年成为广西一流学科（培育）建设单位、以优异成绩顺利完成本科教学工作审核评估。<br/>
                                                   现设置13个二级学院、1个教学部，开设55个本科专业，拥有1个硕士专业学位授权点。全日制在校本科生、研究生、专科生、留学生21423人，其中本科生19006人、硕士研究生477人，本科生占全日制在校生比例为88.72%。<br/>
                                                   现有专任教师1305人，其中副高级以上职称为518人、具有博士学位376人。拥有一批以国家“万人计划”哲学社会科学领军人才、全国文化名家暨“四个一批”人才、“新世纪百千万人才工程”国家级人选、教育部“新世纪优秀人才支持计划”人选、享受国务院政府特殊津贴专家、二级教授、自治区级教学团队和自治区级教学名师等为核心的高层次人才队伍。<br/>
                                                   坚持立德树人，人才培养质量不断提升。获国家级教改立项2项，自治区级教改立项170项；获国家级教学成果二等奖1项，自治区级教学成果特等奖1项、一等奖10项、二等奖14项、三等奖11项，自治区级创新创业教学成果奖3项；在中国“互联网＋”大学生创新创业大赛和“挑战杯”全国大学生课外学术科技作品竞赛和中国大学生创业计划竞赛等全国大学生各类竞赛活动中获奖373余项。拥有“双万计划”首批一流本科专业建设点11个，其中国家级一流本科专业建设点3个，自治区级一流本科专业建设点8个。至教育部实施一流本科专业建设“双万计划”前，共建有各类“本科教学工程”国家级项目8个、省级项目63个。其中，国家级人才培养模式创新实验区1个、国家级特色专业2个、国家级专业综合改革试点项目1个、国家级实验教学示范中心1个、国家级大学生校外实践教育基地建设项目1个、国家级视频公开课1门、国家级双语教学示范课程1门；省级人才培养创新实验区2个、省级校外实践教育基地2个、省级协同育人平台2个、省级紧缺人才专业建设项目1个、省级优势特色专业（群）30个、省级虚拟仿真实验中心1个、省级实验教学示范中心4个、省级精品视频公开课3门、省级精品课程13门、省级在线开放课程5门。<br/>
                                                   坚持学科建设龙头地位，科学研究和服务社会成果突出。学校是广西立项建设的硕士学位授予单位，构建了以经济学、管理学学科为主，经、管、理、工、文、法、艺多学科协调发展的学科体系，应用经济学为广西“双一流”建设计划一流学科（培育）建设学科；“十二五”期间，经济学、财政学、金融学、会计学等11个二级学科被认定为广西高校重点学科或特色优势学科。建有自治区重点实验室1个，自治区级智库4个，广西高校重点实验室1个、人文社会科学重点研究基地（2019-2023年）4个；近5年，全校获批各类科研项目950项，其中国家级67项，省部级169项，获国家社科基金重大项目2项、重点项目3项，国家社科基金立项数稳居全区高校前列，科研总经费8558.726万元；在《经济研究》《管理世界》《中国科学》、SCI一区等权威期刊发表高水平学术论文668篇；共获省部级科研成果奖52项。<br/>
                                                   坚持开放办学，国际交流合作不断深化拓展。与国外及港澳台地区的50余所高校和教育机构建有校际合作关系，特别是与东盟国家高校交往频繁。现有中外合作办学项目2个，设有ACCA全球考试考点1个。<br/>
                                                   校园占地160.13万平方米（其中武鸣校区在建），校舍建筑面积65.34万平方米，固定资产总值11.54亿元，教学科研仪器设备资产值2.63亿元。图书馆建筑面积4.35万平方米，纸质图书196.55万册、电子图书214.38万册，中外文数据库55个。<br/>
                                                   学校注重内涵式发展，秉承“诚以修身、信以立业”之校训，“立足广西、辐射东盟；面向基层、服务社会”，大力调整优化学科、专业结构，提升学校办学核心竞争力，努力建设服务区域经济社会发展的特色鲜明的高水平财经大学。<br/>（更新日期：2020-10-30）<br/>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-two" role="tabpanel"
                                 aria-labelledby="list-two-list" tips="卡片内容————2">


                                <div class="card" style="border: none;">
                                    <div class="card-body">
                                        <div class="type_con" id="content" style="font-size:12px">
                                            <div style="font-weight: 700; color: #177EDB; font-size: 24px; text-align: center; padding: 20px 0; border-bottom: 1px dashed #CCC;"
                                                 data-info-title="">信息与统计学院介绍
                                            </div>
                                            <div style="font-size: 14px; text-align: center; color: #B3B3B3; padding: 5px 0;">
                                                日期：<span data-info-date="YYYY-MM-DD">2022-01-01</span>，来源：<span
                                                    data-info-origin="">宣传部</span>，作者：<span
                                                    data-info-drafter="">宣传部</span>，编审：<span
                                                    data-info-auditor="">宣传部</span>，阅读量：<span data-info-readnumber="">10307</span>
                                            </div>
                                        </div>
                                        <p style="overflow-wrap: break-word; margin-top: 0px; margin-bottom: 0px; font-size: 12.8px; white-space: normal; padding: 0px 0px 1em; color: rgb(51, 51, 51); font-family: SimSun; background: rgb(254, 254, 254); line-height: 2em; font-size: 20px; color: rgb(127, 127, 127);">
                                               学院注重师资队伍建设。我院各专业现有专任教师158人，其中教授12人，副高职称教师39人，中级及以下职称教师107人。拥有博士学位教师23人，在读博士4人，拥有硕士学位教师98人。其中海外学成归国人员4人。<br/>
                                               学院注重教师教学水平和教学质量的提高。学院现有学校教学标兵和教学能手2名，课程获自治区级精品课程2门，校级重点课程、示范课程12门，22门课程获课程平台升级项目，2门教材获自治区级成果奖。<br/>
                                               学院注重专业特色培育。统计学2011年获得广西高校特色专业及课程一体化建设项目，电子商务专业2014年成为广西高校特色专业建设单位。三年来共指导学生成功申报18个自治区级大学生创新创业项目。组织学生参加专业竞赛获国家级、区级奖项20多项。<br/>
                                               学院注重学科专业建设、实践平台建设和科学研究。统计学学科获得2011-2015年自治区规划和建设的硕士学位授权点学科，并在2013年被评为广西高校重点学科。软件工程获2012年校级规划和建设的硕士学位授权点学科。计算机科学与技术、应用数学两个学科获校级重点学科。学院设有数量经济重点实验室、广西经济预测与决策中心、数据挖掘与信息服务研究所、计算机应用研究所、统计与市场调查研究所等11个科学研究机构。至今共承担国家级课题10项，省部级课题40多项，获得国家软件著作权15项，编写研究专著7部。2004年以来累计获广西社会科学研究优秀成果奖二等奖1项、三等奖3项，获省部级、厅级科研成果奖11项。<br/>
                                               学院重视学生综合素质能力的培养，不断丰富和活跃校园文化生活和学生第二课堂。学院历年开展广西财经学院电脑文化节、大学生数学建模竞赛、大学生创新创业训练计划项目等独具特色的学生活动，多次获得全国奖、自治区奖的好成绩；连续多年在全国就业技能大赛中获得全国一等奖的好成绩。毕业生综合素质和能力深受用人单位欢迎和好评，就业率一直保持在90%以上。<br/>
                                               学院各系承担着本学院和学校的教学任务。<br/>
                                               计算机系负责计算机科学与技术专业建设和教学工作。学生毕业后可到IT行业、企业、事业单位从事计算机系统管理、软件系统设计、网站开发、计算机网络系统的管理与维护等技术工作，也可以从事计算机教学、经营管理等工作。
                                               数字媒体系负责数字媒体技术专业建设和教学工作，主要培养从事影视动画和计算机游戏等数字媒体产业领域、多媒体技术应用领域的专业设计与技术创新的兼通技术和艺术的高级应用性复合型专门人才。学生毕业后可到电视台、影视公司、动漫公司、广告公司、计算机公司、网络公司、游戏软件公司、电子出版公司、企事业及国家机关单位的宣传和广告部门等相关行业单位工作。<br/>
                                               电子商务系承负责电子商务专业建设和和教学工作。学生毕业后可在工商企业、事业单位、金融机构、政府部门从事企业电子商务运营、网络营销、企业电子商务管理、移动电商、跨境电商、电子商务应用和规划等工作，或在教育、科研部门从事电子商务相关的教学和研究工作。<br/>
                                               信息管理系承担着信息管理和信息系统专业建设和教学工作。毕业生可在各类工商企业、金融机构及政府部门，从事财务、会计、策划、证券投资管理、信息系统分析设计、决策支持和教学科研等工作。<br/>
                                               经济统计系承担统计学和经济统计学专业建设和教学工作。毕业生可在各级政府部门从事市场调研和数据分析工作；在各类工商企业、事业单位从事统计调查与咨询、财务会计师、信息管理、数量分析等开发、应用和管理工作；在政府部门、企事业单位从事经济分析、预测、规划、经营决策和综合性经营管理等实际工作。<br/>
                                               数理统计系负责应用统计学专业建设和教学工作。毕业生可在银行及非银行金融机构从事相关金融业务及管理工作；各级政府部门、企事业单位从事市场调研与咨询、计划决策、经济管理、数量分析与开发应用等经济管理工作；或在教育、科研部门从事教学、研究工作。<br/>
                                               应用数学系目前主要承担全校的《高等数学》、《经济应用数学》和《数学建模》课程的教学工作和《金融数学专业》的筹建工作。<br/>
                                               信息与统计学院秉持“优势突出、特色鲜明、协同发展、服务地方”的办学宗旨，在重点办好本科教育的基础上，将以应用统计硕士授权点，工程硕士（软件工程）授权点，统计学重点学科，经济统计专业、电子商务专业重点专业，“电子商务专业群”为突破口，深化教育教学综合改革，遵循“诚以修身，信以立业”的校训，同心同德、拼搏奋进，开创信息与统计学院的辉煌篇章。<br/>
                                               
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="list-three" role="tabpanel"
                                 aria-labelledby="list-three-list" tips="卡片内容————3">


                                <div class="card" style="border: none;">
                                    <div class="card-body">
                                        <div class="type_con" id="content" style="font-size:12px">
                                            <div style="font-weight: 700; color: #177EDB; font-size: 24px; text-align: center; padding: 20px 0; border-bottom: 1px dashed #CCC;"
                                                 data-info-title="">图书馆简介
                                            </div>
                                            <div style="font-size: 14px; text-align: center; color: #B3B3B3; padding: 5px 0;">
                                                日期：<span data-info-date="YYYY-MM-DD">2022-01-01</span>，来源：<span
                                                    data-info-origin="">宣传部</span>，作者：<span
                                                    data-info-drafter="">宣传部</span>，编审：<span
                                                    data-info-auditor="">宣传部</span>，阅读量：<span data-info-readnumber="">10307</span>
                                            </div>
                                        </div>
                                        <p style="overflow-wrap: break-word; margin-top: 0px; margin-bottom: 0px; font-size: 12.8px; white-space: normal; padding: 0px 0px 1em; color: rgb(51, 51, 51); font-family: SimSun; background: rgb(254, 254, 254); line-height: 2em; font-size: 20px; color: rgb(127, 127, 127);">
                                               
                                            广西财经学院是一所以经济管理类学科为主，文学、法学、理学、工学、艺术相互支撑、协调发展的地方性、教学型全日制普通本科院校和广西壮族自治区人民政府重点支持建设的十所高校之一。<br>   
                                            图书馆是学校信息资源与服务中心。近年来紧密围绕学校教学与科研需要，持续进行信息资源建设，不断发展和完善信息资源服务平台；拓展、完善图书馆信息服务功能，提供多层次、高水平的信息资源服务。<br>   
                                            学校图书馆由南宁明秀校区图书馆、南宁相思湖校区图书馆、防城港校区图书馆组成，馆舍面积达4万余平方米。经过多年建设与发展，学校图书馆已逐步建立起以经济管理类文献为重点，经济学、管理学、文学、法学、理学、工学、艺术学门类齐全、内容丰富、结构合理、层次分明的文献信息资源保障体系。现有馆藏纸质文献196万多册，电子文献总量已达40tb。图书馆周开放时间为98小时，电子资源24小时开放。<br>   
                                            学校图书馆一贯秉承“读者第一，服务育人”的办馆理念，建立了以文献借阅、参考咨询与信息服务、读者教育和培训为主要内容，融知识学习和服务育人为一体的“服务学科、服务学风、服务学者、服务学生“的四服务体系。<br>   
                                            图书馆紧紧围绕学校建设特色鲜明的高水平财经大学战略目标，以文献信息资源建设、开发、利用为重点，以数字化图书馆建设为方向，建立与教学、科研和学科建设发展相适应，纸质文献与电子文献互为补充的文献资源保障体系；以队伍建设为关键，进一步加强管理创新、服务创新，打造集学习研究、信息发现、知识创新与休闲体验于一体的校园学术文化中心，使图书馆在馆藏特色、现代化管理、信息服务等各方面均达到区内高校图书馆一流水平。<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-four" role="tabpanel"
                                 aria-labelledby="list-four-list" tips="卡片内容————4">


                                <div class="card" style="border: none;">
                                    <div class="card-body">
                                        <div class="type_con" id="content" style="font-size:12px">
                                            <div style="font-weight: 700; color: #177EDB; font-size: 24px; text-align: center; padding: 20px 0; border-bottom: 1px dashed #CCC;"
                                                 data-info-title="">联系我们
                                            </div>
                                            <div style="font-size: 14px; text-align: center; color: #B3B3B3; padding: 5px 0;">
                                                日期：<span data-info-date="YYYY-MM-DD">2022-01-01</span>，来源：<span
                                                    data-info-origin="">宣传部</span>，作者：<span
                                                    data-info-drafter="">宣传部</span>，编审：<span
                                                    data-info-auditor="">宣传部</span>，阅读量：<span data-info-readnumber="">10307</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="list-five" role="tabpanel"
                                 aria-labelledby="list-four-list" tips="卡片内容————5">


                                <div class="card" style="border: none;">
                                    <div class="card-body">
                                        <div class="type_con" id="content" style="font-size:12px">
                                            <div style="font-weight: 700; color: #177EDB; font-size: 24px; text-align: center; padding: 20px 0; border-bottom: 1px dashed #CCC;"
                                                 data-info-title="">中外合作办学介绍
                                            </div>
                                            <div style="font-size: 14px; text-align: center; color: #B3B3B3; padding: 5px 0;">
                                                日期：<span data-info-date="YYYY-MM-DD">2022-01-01</span>，来源：<span
                                                    data-info-origin="">宣传部</span>，作者：<span
                                                    data-info-drafter="">宣传部</span>，编审：<span
                                                    data-info-auditor="">宣传部</span>，阅读量：<span data-info-readnumber="">10307</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


        <div id="footer" class="bottom_footer container-lg" style="margin-bottom: 200px;margin-top: 50px;">

        </div>

    </div>


</div>
<script src="../../../static/bs4_packages/js/jquery-3.5.1.min.js"></script>
<script src="../../../static/bs4_packages/js/bootstrap.bundle.min.js"></script>
<script src="../../../static/bs4_packages/js/bootstrap.min.js"></script>
</body>
</html>
