<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>二维码 - 个人信息库</title>

    <link href="../static/Users/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/Users/css/datepicker3.css" rel="stylesheet">
    <link href="../static/Users/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="../static/Users/js/html5shiv.js"></script>
    <script src="../static/Users/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>二维码</span>生成系统</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span> {{ session_users_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/public_api/logout/"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href=""><span class="glyphicon glyphicon-tree-deciduous"></span>生成个人信息</a></li>
        <li><a href="/infomation_db/"><span class="glyphicon glyphicon-tree-deciduous"></span>已有的信息库</a></li>
        <li role="presentation" class="divider"></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">生成个人信息</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">生成个人信息</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">生成个人信息</div>
                <div class="panel-body">
                    <section class="col-lg-8 col-md-8 col-sm-12">
                        <section class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="school_content" placeholder="学校">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="class_content" placeholder="班级">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="iphone_content" placeholder="手机号">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </section>
                        <section class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="name_content" placeholder="姓名">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="sex_content" placeholder="性别">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="apartment_content" placeholder="公寓">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                        </section>
                        <button type="submit" class="btn btn-default" style="width: 100%"  onclick="return AjaxSend();">生成二维码</button>
                    </section>
                    <section class="col-lg-4 col-md-4 col-sm-12" style="display: flex;justify-content:center;align-items:center;line-height: 360px;height: 361px;">
                        <img src="" alt="..." class="img-thumbnail" style="width: 300px;height: 300px;" id="qrcode">
                    </section>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div><!--/.main-->

<script src="../static/Users/js/jquery-1.11.1.min.js"></script>
<script src="../static/Users/js/bootstrap.min.js"></script>
<script src="../static/Users/js/chart.min.js"></script>
<script src="../static/Users/js/chart-data.js"></script>
<script src="../static/Users/js/easypiechart.js"></script>
<script src="../static/Users/js/easypiechart-data.js"></script>
<script src="../static/Users/js/bootstrap-datepicker.js"></script>
<script>


    function AjaxSend() {
        $.ajax({
            url: '/qr_code_create/',
            type: "POST",
            data: {
                "school_content": $("#school_content").val(),
                "class_content": $("#class_content").val(),
                "iphone_content": $("#iphone_content").val(),
                "name_content": $("#name_content").val(),
                "sex_content": $("#sex_content").val(),
                "apartment_content": $("#apartment_content").val(),
            },
            // 设置超时的时间XXs
            timeout: 30000,
            success: function (recv) {
                //当服务端处理完成后，返回数据时，该函数自动调用
                // data代表服务器给我们返回的值
                // 可以使用 JavaScript进行html的内容修改展示内容，或者刷新界面
                console.log(recv)
                // 登入成功
                recv = JSON.parse(recv)
                if (recv["status"] == "true") {
                    alert("成功，信息已更新")
                    $("#qrcode").attr("src",recv["qrcode_url"])
                }
                ;
                if (recv["status"] == "false") {
                    alert("异常，请重试，或将信息补充完整");
                    location.reload();
                }
                ;
            }
        })
    }

</script>
</body>

</html>
