<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>超管系统 - 主题信息管理系统</title>
    <link href="../../static/admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/admins/css/datepicker3.css" rel="stylesheet">
    <link href="../../static/admins/css/styles.css" rel="stylesheet">


    <script>
        function AjaxSend() {
            var X = $("#search").val()

            if (X == null) {
                var content = "search_all"
            } else {
                var content = $("#search").val()
            }
            $.ajax({
                url: '/activity_show',
                type: "POST",
                data: {
                    "search_content": content
                },
                // 设置超时的时间XXs
                timeout: 30000,
                success: function (jsonStr) {
                    //当服务端处理完成后，返回数据时，该函数自动调用
                    // data代表服务器给我们返回的值
                    // 可以使用 JavaScript进行html的内容修改展示内容，或者刷新界面

                    if (jsonStr != "") {
                        var jsonStr = JSON.parse(jsonStr);
                        console.log(jsonStr)
                        var tab = $("#tbody");
                        tab.empty();
                        for (i = 0; i < jsonStr.length; i++) {
                            var objectList = JSON.parse(String(jsonStr[i]).replace(/'/g, '"'));
                            var numid = "<td>" + i + "</td>";
                            var title = "<td><b>" + objectList["title"] + "</b></td>";
                            var CreateTime = "<td>" + objectList["CreateTime"] + "</td>";

                            var details = '<td><a href="/activity_details?title='+objectList["title"]+'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>'
                            var modify = '<td><a href="/activity_modify?title='+objectList["title"]+'"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a></td>'
                            var Ondelete = '<td ><a onclick="AjaxSendDelete(\'' + objectList["title"] + '\');"><span  class="glyphicon glyphicon-remove-circle"  a-hidden="true" ></span></a></td>'

                            var rowStr = "<tr>" + numid + title + CreateTime + details + modify + Ondelete + "</tr>";
                            tab.append(rowStr);
                        }
                        ;
                        ;
                    }

                    $(function () {
                        var oldColor = "";
                        $("#tbody span").mouseover(function () {
                            oldColor = $(this).css("color");
                            $(this).css("color", "red");
                        }).mouseout(function () {
                            $(this).css("color", oldColor);
                        });
                    });
                },
                //调用出错执行的函数
                error: function () {
                    //请求出错处理
                    console.log("error");
                }
            })
        };
    </script>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>主题信息</span>收集系统</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user">（{{ user_name }}）</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
                        <li><a href="/exportExcel"><span class="glyphicon glyphicon-log-out"></span>导出</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <a href="/activity_add">
                <button class="btn btn-default" style="width: 100%;height: 100%;" disabled><b>添加新主题</b></button>
            </a>
        </div>
    </form>
    <ul class="nav menu">
        <li class="active"><a href="activity_show"><span class="glyphicon glyphicon-tree-deciduous"></span>主题信息展示</a>
        </li>
        <li role="presentation" class="divider"></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">主题信息展示</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">主题信息展示</h2>

        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入主题进行搜索..." id="search" oninput="AjaxSend();">
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="text-align: center">
                            <thead>
                            <th style="text-align: center">序号</th>
                            <th style="text-align: center">主题</th>
                            <th style="text-align: center">时间</th>
                            <th style="text-align: center">查看</th>
                            <th style="text-align: center">扩展</th>
                            <th style="text-align: center">删除</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div><!--/.main-->

<script src="../../static/admins/js/jquery-1.11.1.min.js"></script>
<script src="../../static/admins/js/bootstrap.min.js"></script>

<script>
    AjaxSend();

    function AjaxSendDelete(title) {
        var r = confirm("确认删除？还是取消？");
        if (r == true) {
            if (title) {
                $.ajax({
                    url: '/activity_delete',
                    type: "GET",
                    data: {
                        "title": title
                    },
                    // 设置超时的时间XXs
                    timeout: 30000,
                    success: function (jsonStr) {
                        //当服务端处理完成后，返回数据时，该函数自动调用
                        // data代表服务器给我们返回的值
                        // 可以使用 JavaScript进行html的内容修改展示内容，或者刷新界面
                        var res_mesg = JSON.parse(jsonStr)
                        console.log(res_mesg)
                        // 登入成功
                        if (res_mesg["status"] == "true") {
                            alert(res_mesg["tip"])
                            location.reload()
                        } else if (res_mesg["status"] == "false") {
                            alert(res_mesg["tip"])
                            location.reload()
                        }

                    },
                    //调用出错执行的函数
                    error: function () {
                        //请求出错处理
                        console.log("error");
                    }
                })
            }
        }
    }
</script>


</body>

</html>
