<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="../../../static/bs4_packages/css/bootstrap.min.css">


    <link rel="stylesheet" href="../../../static/front_static/s_public/re_bs4_public.css">
    <link rel="stylesheet" href="../../../static/front_static/s_public/css_public.css">

    <title>教师留言</title>
</head>
<body>
<div class="bodyBgGradient"></div>
<div class="bodyBgImg"></div>


<div class="header" id="header" tips="页面头部——头部导航与头部图片">
    <div class="top">
        <div class="container-lg">
            <div>
                <span>您好，欢迎访问广西财经学院中外合作办学网站！</span>
            </div>
        </div>
        <div></div>
        <div class="clearFix"></div>
    </div>
    <div class="container-lg">
        <div class="logoBox">
            <img class="logo" src="../../../static/front_static/s_public/imgs_files/logo.png">
            <img class="slogan" src="../../../static/front_static/s_public/imgs_files/slogan.png">
        </div>
        <div class="clearFix"></div>
        <div class="logoBoxBottom"></div>
    </div>
</div>


<div class="bigBox container-lg" tips="页面主体——大盒子">
    <div class="margin_top_bottom"></div>

    <div id="nav_wall" tips="页面主体——导航栏部分">
        <nav class="nav nav-pills nav-fill" style="border-radius: 0px ;background-color: rgb(255, 255, 255);">
            <a class="nav-link" href="/">首页</a>
            <a class="nav-link" href="/front/fr/show/">学校概况</a>
            <a class="nav-link" href="/front/fr/dynamic/">学院动态</a>
            <a class="nav-link" href="/front/fr/partners/">合作院校</a>
            <a class="nav-link" href="/front/fr/overseas/">留学生招生</a>
            <a class="nav-link active" href="/front/fr/teacher/">教师留言</a>
            <a class="nav-link " href="/front/fr/student/">学生留言</a>
            <a class="nav-link" href="/front/fr/login/">管理中心</a>
        </nav>
    </div>
    <div class="margin_top_bottom"></div>


    <div class="bodyFontContent" tips="页面主体——字体内容框架">

        <div class="logoBoxBottom"></div>
        <div class="card" style="">
            <div class="card-body" style="">

                <div class="container-lg">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" onclick="sub_Pre_Next('Pre')" id="Pre">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" value="1" id="sub_one" onclick="AjaxSend(1)"><a
                                    class="page-link">1</a></li>
                            <li class="page-item" value="2" id="sub_two" onclick="AjaxSend(2)"><a
                                    class="page-link">2</a></li>
                            <li class="page-item" value="3" id="sub_thr" onclick="AjaxSend(3)"><a
                                    class="page-link">3</a></li>
                            <li class="page-item" value="4" id="sub_fou" onclick="AjaxSend(4)"><a
                                    class="page-link">4</a></li>
                            <li class="page-item" value="5" id="sub_fiv" onclick="AjaxSend(5)"><a
                                    class="page-link">5</a></li>
                            <li class="page-item" onclick="sub_Pre_Next('Next')">
                                <a class="page-link" aria-label="Next" id="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

                <div class="row row-cols-1 row-cols-md-4" id="contentBox">


                </div>


            </div>


        </div>


        <div id="footer" class="bottom_footer container-lg" style="margin-bottom: 200px;margin-top: 50px;">

        </div>

    </div>


</div>
<script src="../../../static/bs4_packages/js/jquery-3.5.1.min.js"></script>
<script src="../../../static/bs4_packages/js/bootstrap.bundle.min.js"></script>
<script src="../../../static/bs4_packages/js/bootstrap.min.js"></script>
</body>
<script>

    function sub_Pre_Next(type) {
        var func = "AjaxSend"
        var sub_one = '#sub_one '
        var sub_two = '#sub_two '
        var sub_thr = '#sub_thr '
        var sub_fou = '#sub_fou '
        var sub_fiv = '#sub_fiv '
        var one = Number($(sub_one).attr("value"))
        var two = Number($(sub_two).attr("value"))
        var thr = Number($(sub_thr).attr("value"))
        var fou = Number($(sub_fou).attr("value"))
        var fiv = Number($(sub_fiv).attr("value"))
        var init = 5
        if (type == "Pre" && one >= 6) {
            one = one - init
            two = two - init
            thr = thr - init
            fou = fou - init
            fiv = fiv - init
            $(sub_one).attr("value", one)
            $(sub_two).attr("value", two)
            $(sub_thr).attr("value", thr)
            $(sub_fou).attr("value", fou)
            $(sub_fiv).attr("value", fiv)

            $(sub_one + 'a').html(one)
            $(sub_two + 'a').html(two)
            $(sub_thr + 'a').html(thr)
            $(sub_fou + 'a').html(fou)
            $(sub_fiv + 'a').html(fiv)

            $(sub_one).attr("onclick", ""+func+"(" + one + ")")
            $(sub_two).attr("onclick", ""+func+"(" + two + ")")
            $(sub_thr).attr("onclick", ""+func+"(" + thr + ")")
            $(sub_fou).attr("onclick", ""+func+"(" + fou + ")")
            $(sub_fiv).attr("onclick", ""+func+"(" + fiv + ")")
        }
        if (type == "Next") {
            one = one + init
            two = two + init
            thr = thr + init
            fou = fou + init
            fiv = fiv + init
            $(sub_one).attr("value", one)
            $(sub_two).attr("value", two)
            $(sub_thr).attr("value", thr)
            $(sub_fou).attr("value", fou)
            $(sub_fiv).attr("value", fiv)

            $(sub_one + 'a').html(one)
            $(sub_two + 'a').html(two)
            $(sub_thr + 'a').html(thr)
            $(sub_fou + 'a').html(fou)
            $(sub_fiv + 'a').html(fiv)

            $(sub_one).attr("onclick", ""+func+"(" + one + ")")
            $(sub_two).attr("onclick", ""+func+"(" + two + ")")
            $(sub_thr).attr("onclick", ""+func+"(" + thr + ")")
            $(sub_fou).attr("onclick", ""+func+"(" + fou + ")")
            $(sub_fiv).attr("onclick", ""+func+"(" + fiv + ")")
        }
    }

    function AjaxSend(number) {


        $.ajax({
            url: '/front/fr/teacher/teWallShow/API/',
            type: "POST",
            data: {
                "number": number,
            },
            // 设置超时的时间XXs
            timeout: 30000,
            success: function (jsonStr) {
                //当服务端处理完成后，返回数据时，该函数自动调用
                // data代表服务器给我们返回的值
                // 可以使用 JavaScript进行html的内容修改展示内容，或者刷新界面
                var GetData = JSON.parse(jsonStr)
                console.log(GetData)
                var Box = $("#contentBox");
                Box.empty();
                if (GetData["show_data"] != "") {
                    var BoxData = GetData["show_data"]
                    for (i = 0; i < BoxData.length; i++) {
                        var iphone = BoxData[i][1];
                        var name = BoxData[i][2];
                        var txt = BoxData[i][3];
                        var img_url = '';
                        if (BoxData[i][4]) {
                            img_url = '<div style="text-align: center"><img src="../../../' + BoxData[i][4] + '" class="card-img-re"></div>'
                        }
                        var create_time = BoxData[i][5];
                        var rowStr = '<div class="col mb-4"><div class="card"><div class="card-body">' + img_url + ' <h5 class="card-title">' + name +
                            '</h5> <p class="card-text">' + txt +
                            '</p> <p class="card-text"><small class="text-muted">' + create_time +
                            '</small></p> </div> </div> </div>'
                        ;
                        Box.append(rowStr);
                    }
                    ;

                }


            },
            //调用出错执行的函数
            error: function () {
                //请求出错处理
                console.log("error");
            }
        })

    }

    AjaxSend(1);
</script>
</html>
